boto3
fastapi[standard]
firebase_admin
groq
openai
requests
sqlmodel
websockets

# For RAG
fastembed
langchain-community
qdrant-client
transformers

# Sentence tokenizer
nltk

# For TTS
fish-audio-sdk