<!DOCTYPE html>
<html>

<head>
    <title>ChatGenius</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/favicon.jpg" type="image/x-icon">
</head>

<style>
h1, h3, p {
    color: #ddd;
}
</style>

<body>
    <h1 style="margin: 16px;">Search Results for "{{ query }}"</h1>
    {% for message in messages %}
    <div style="display: flex; gap: 16px; margin: 16px;">
        <img src="{{ message.photo_url }}" style="width: 48px; height: 48px; border-radius: 50%;" />
        <div style="display: flex; flex-direction: column; gap: 8px;">
            <div style="display: flex; align-items: end; gap: 8px;">
                <h3>{{ message.name }}</h3>
                <p style="font-size: 14px; color: #aaa;">{{ message.created }}</p>
            </div>
            <p>{{ message.content }}</p>
        </div>
    </div>
    {% endfor %}
</body>

</html>